#frontpage{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#zoomedText {
    font-size: 10px;
    transition: font-size 0.75s;
    color: white; 
}

#zoomedImage {
    width: 100%;
    transition: width 0.75s;
}
