body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: monospace, monospace;
    background-image: url(IMAGE.jpg);
    background-size: 30%;
    background-repeat: repeat;
}
#frontpage{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height:30vh;

}

#bottomMenu{
    width: 100vw;
    height: 20vh;
    flex-shrink: 0;
    background: rgba(217, 217, 217, 0.50);
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: fixed;
    bottom: 0;
}
#menuColumn{
    flex-shrink:0; 
    width: 3px;
    height: 20vh;
    background: rgba(255, 255, 255, 0.50);
}
#menuText{
    width: 326px;
height: 62px;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: monospace;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-left: 100px;
padding-right: 100px;
}

#zoomedText {
    color: white; 
    animation: zoom 2s ease-in;
    animation-fill-mode: backwards;
    font-size: 4rem;
}
#zoomedImage {
    width: 100%;
    transition: width 0.75s;
}

@keyframes zoom{     
    0% {         
        font-size:0;
    }    
    100% {
        font-size: 4rem;
    }
}
